
controle-sol/__pycache__/centrale_inertielle.cpython-39.pyc
controle-sol/__pycache__/connexion.cpython-39.pyc
controle-sol/__pycache__/controleur.cpython-39.pyc
controle-sol/__pycache__/ecran_principal.cpython-39.pyc
controle-sol/__pycache__/graphique.cpython-39.pyc
controle-sol/__pycache__/telemetrie.cpython-39.pyc
controle-sol/__pycache__/graphiques.cpython-39.pyc
logiciel-vol/secrets.h
logiciel-vol/secrets.h
